.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 8vh 0;
}

@media only screen and (min-width: 768px) {
  .counter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  .counter {
    width: 1170px;
  }
}