textarea {
  height: 15vh;
}

.contact-form {
  margin: 0 auto ;
  padding: 0 1.8rem;
}

.contact-form textarea, input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.input-block {
  display: flex;
  justify-content: space-between;
}

.input-block input {
  width: 45%;
}

@media only screen and (max-width: 600px) {
  .contact-form {
    padding: 0 0.5rem;
  }
  
  .contact-form textarea, input {
    padding: 0.5rem;
    font-size: 0.7rem;
  }

  .input-block input {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .input-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .contact-form textarea, input {
    padding: 0.8rem;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .input-block input {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .input-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input-block input {
    width: 45%;
  }
}

@media only screen and (min-width: 1200px) {
  .contact-form {
    width: 1170px;
  }
}