.services-list {
  display: grid;
  row-gap: 1.5rem;
  width: 95vw;
  margin: auto;
}

.services-list h4 {
  color: black;
}

@media only screen and (min-width: 768px) {
  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .services-list {
    width: 1024px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}