.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 0;
  background-color: white;
  overflow: hidden;
}

.navigation.isShow {
  height: 360px;
  transition: all 0.5s ease-in;
}

.navigation li {
  margin: 1rem;
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-left: 5vw;
    height: 75px;
  }

  .navigation li {
    margin: 1rem;
  }
}