.home-text {
  display: flex;
  align-items: baseline;
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: 200;
}

.home-text p {
  margin: 0;
}

@media only screen and (min-width: 500px) {
  .home-text {
    font-size: 2.5rem;
  }
}