.icon-wrapper {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background-color: #f4f4f4;
  margin: 0 5px;
  cursor: pointer;
}

.icon-wrapper > svg {
  color: #000000;
  width: 30px;
  height: 30px;
}

.icon-wrapper:hover {
  background-color: #000;
  color: #fff;
}

.icon-wrapper:hover > svg {
  color: #fff;
}

.isFill {
  background-color: #000;
}

.isFill > svg {
  color: #fff;
}

.icon-wrapper.isSmall {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.icon-wrapper.isSmall > svg {
  width: 16px;
  height: 14px;
}
