.about-container {
  display: grid;
  grid-template-columns: 50vw repeat(auto-fit, minmax(200px, 1fr));
  width: 95vw;
  height: auto;
  color: black;
}

.about-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.about-avatar img {
  width: 94%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 1fr;
  }

  .about-avatar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .about-avatar img {
    width: auto;
    height: 90%;
  }
}

@media only screen and (min-width: 601px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 1fr;
  }

  .about-avatar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
  }

  .about-avatar img {
    width: auto;
    height: 90%;
  }
}

@media only screen and (min-width: 950px) {
  .about-container {
    display: grid;
    grid-template-columns: 50vw repeat(auto-fit, minmax(200px, 1fr));
  }

  .about-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .about-avatar img {
    width: auto;
    height: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  .about-container {
    display: grid;
    grid-template-columns: 550px repeat(auto-fit, minmax(200px, 1fr));
    width: 1170px;
  }
}