.work-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  color: black;
}

.nav-item {
  margin: 0 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (max-width: 500px) {
  .work-nav {
    margin: 1rem 0;
  }

  .nav-item {
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }
}