.services-list {
  display: grid;
  gap: 1.5rem;
  width: 95vw;
  margin: auto;
}

.services-list h4 {
  color: black;
}

@media only screen and (max-width: 500px) {
  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

@media only screen and (min-width: 501px) {
  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .services-list {
    max-width: 1170px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}