.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}

@media only screen and (max-width: 768px) {
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {
  .contact-info {
    width: 1170px;
  }
}